<!doctype html><!--permite decir al navegador que tipo de HTML estas usando, por default -->
<html lang="es">
	<head>
		<title>
			
			Blog
		
	
		</title>
			<meta charset ="UTF-8" /> 
			<link rel="stylesheet" href="css/normalize.css"/><!--esta etiqueta siempre debe ir arriba -->
			<link href='http://fonts.googleapis.com/css?family=Sofadi+One' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="css/principal.css"/><!-- se agrega un etiqueta que importara el estilo-->
	
	</head><!--todo lo que va en head es comentario-->
	<header>
		<h1>{%block titulo%}{%endblock%}</h1><!--Le esta diciendo que se esta defiendo un titulo. No se deberian repetir un h1 por seccion. Los navegadores lo utilizan para indexar el contenido-->
		 <nav><!-- //si es algo de navegacion-->
			<ul> <!--//define listas--><!-- ol es para lista ordenadas-->
				<li>
					Inicio
				</li>
				<li>
					Blog
				</li>
				<li>
					Contacto
				</li>
			</ul>
		</nav> 
	
	
	</header>
	<!--queremos poner una imagen que sea la imagen de bienvendia. Section es la pantalla de bienvendia-->
	<!-- /*todo lo que agreguemos ahora se pondra entre estas dos partes de codigo*/ -->
	{% block contenido %}
	{% endblock %}
	
	<footer>
		<div id="sociales">
			<h2>
	        Siguenos:			
			</h2>
			<img src="imagenes/vidrio/facebook.png" />
			<img src="imagenes/vidrio/twitter.png" />
			<img src="imagenes/vidrio/google.png" />
		</div>
		<div id="suscribir">
			<h2>Suscribir:	
			</h2>
			<form action= "/suscribir"method="post"><!--en action definimos a dodne lo vamos a manar, en este caso en contactar -->
									
			<label for="suscribir-email">Email:</label><!-- le da una etiquetay for es para usabilidad, leda un focus, es decir, resalta-->
			<input id="suscribir-email" type="text" name="email"/><!-- parametro que sirve para mandarlo al servidor-->
		    <input type="submit" value="enviar" /> <!--es un boton para mandar -->
			
			</form>
		</div>
	</footer>
	
<body>
	
</body>	
</html>